@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 style="text-align:center">@ViewData["Title"]</h1>

<style type="text/css">
    .container{opacity:1;}

    html, body {
        min-height: 100vh;
    }
    body {
        height:100vh;
    }
</style>

<div style="display:flex">
    <a style="margin: 0 auto" href="~/Privacy.pdf">Download</a>
</div>

<div style="opacity:1; max-height:90vh; overflow:auto; display: flex; flex-direction:column">
    <img src="~/Privacy/1.png" width="50%" style="margin: 2px auto">
    <img src="~/Privacy/2.png" width="50%" style="margin: 2px auto">
    <img src="~/Privacy/3.png" width="50%" style="margin: 2px auto">
    <img src="~/Privacy/4.png" width="50%" style="margin: 2px auto">
    <img src="~/Privacy/5.png" width="50%" style="margin: 2px auto">
    <img src="~/Privacy/6.png" width="50%" style="margin: 2px auto">
    <img src="~/Privacy/7.png" width="50%" style="margin: 2px auto">
    <img src="~/Privacy/8.png" width="50%" style="margin: 2px auto">
</div>