@{
    ViewData["Title"] = "Terms and Conditions";
}

<h1 style="text-align:center">@ViewData["Title"]</h1>

<style type="text/css">
    .container{opacity:1;}

    html, body {
        min-height: 100vh;
    }
    body {
        height:100vh;
    }
</style>

<div style="display:flex">
    <a style="margin: 0 auto" href="~/Terms.pdf">Download</a>
</div>

<div style="opacity:1; max-height:90vh; overflow:auto; display: flex; flex-direction:column">
    <img src="~/Terms/1.png" width="50%" style="margin: 2px auto">
    <img src="~/Terms/2.png" width="50%" style="margin: 2px auto">
</div>