@{
    ViewData["Title"] = "TEC Game Servers";
}

<div class="text-center">
    <h1 class="display-4">How to join in GTA</h1>
    <p>Vanilla GTAO:</p>
    <p>Join the TEC Crew <a href="https://socialclub.rockstargames.com/crew/the_energetic_con/wall" target="_blank">Here</a></p>
    <p></p>
    <p>FiveM:</p>
    <p>There are 3 servers to join, RP, Races, and Chaos. You can search for TEC GTA, and join the one you want to play!</p>
    <p>Note: These GTA servers are WIP. You must open the FiveM console using F8, and type starterpack to claim your starterpack on the RP server, claiming from the character at the police station is not working yet. The Racing server is not set up yet, as we are still researching racing mods that work how we would like.</p>
    <p>And for the chaos server, you must manually install the chaos mod client side, as we are still figuring out making it server side.</p>
    <p>Eventually you will be able to claim the starterpack from the character, have proper races, and join the chaos server without manual install of it.</p>
    <p>When claiming from the charater works, it'll be reccomended to start at fantastic plaza, as that's closest to the police station they are standing at.</p>
</div>