@{
    ViewData["Title"] = "TEC Game Servers";
}

<div class="text-center">
    <h1 class="display-4">How to join in MC</h1>
    <p>The MC server is a crossplay SMP between Java and Bedrock!</p>
    <h3>Vanilla client server:</h3>
    <p>Name: TEC MC</p>
    <p>Version: 1.20.4 and above</p>
    <p>Java IP: java.thenergeticon.com</p>
    <p>Bedrock IP: mc.thenergeticon.com</p>
    <p>Bedrock Port: Default 19132</p>
    <h3>Modded Java client only:</h3>
    <p>Install this modpack using CurseForge app: Wolf's Belly</p>
    <p>Download the modpack, go to CurseForge app, + Create Custom Profile, Import, and select the downloaded zip file!</p>
    <p>Name: TEC MC Modded</p>
    <p>Version: 1.19.2 Fabric only, Quilt does not work! :((</p>
    <p>IP: javamodded.thenergeticon.com</p>
</div>