@{
    ViewData["Title"] = "TEC Game Servers";
}

<div class="text-center">
    <h1 class="display-4">Rust Rules</h1>
    <p>These general rules apply to all game servers:</p>
    <p>#1 Fort Staff near Excavator is off limits. Do not raid Fort Staff! There are a few clones of it around the map to raid, with lots to collect from. But do not raid Fort Staff with the signs, or fly near it as there is a SAM. We have turrets and alarms set up for defense, and to alert us of anyone trying to raid.</p>
    <p>#2 Do not engage staff! Staff can be assumed as neutral. You may engage a member of staff, only if they engage you first.</p>
    <p></p>
    <p>The server name to join is Rusty TEC!</p>
</div>